   *{
       box-sizing: border-box;
    }   

    .mail-icon{
        width:100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebf2fc;
    }
    
    .mail-icon > i{
    font-size: 4em;
    color: #51e08b;
    
    }

  .otp-input-fields{
    margin: auto;
    background-color: white;
    max-width: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px;
    
    input{
      height: 60px;
      width: 60px;
      background-color: #eee;
      border-radius: 4px;
      border: 1px solid #eee;
      text-align: center;
      outline: none;
      font-size: 16px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
      &:focus{
        border-width: 2px;
        border-color: darken(#10c1c1, 5%);
        font-size: 20px;
      }
    }
  }
  
  .result{
    max-width: 400px;
    margin: auto;
    padding: 24px;
    text-align: center;
    p{
      font-size: 24px;
      font-family: 'Antonio', sans-serif;
      opacity: 1;
      transition: color 0.5s ease;
      &._ok{
        color: green;
      }
      &._notok{
        color: red;
        border-radius: 3px;
      }
    }
  }

  .verify-btn{
    width: 200px;
  }